html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  background: beige;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.App {
  min-width: 1000px;
  text-align: center;
}

.speeches-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: .5rem;
  background-color: darkslateblue;
  padding: 10px;
  border-radius: 10px;
}

.speech-box {
  background-color: lightblue;
  border: 3px solid whitesmoke;
  padding: 20px;
  font-size: 24px;
  text-align: center;
}

/* fix svg icon display */
.svg-icon-display-fix {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.svg-icon-display-fix button svg {
  display: block;
  height: 100%;
}

/* fix multiple buttons display */
.multiple-buttons-display-fix .rs-container {
  display: flex;
}

.multiple-buttons-display-fix .rs-container button {
  margin: 0 10px;
}